{{$targets := targets `
Prefix: array
Type: Array
Elements: o.Elements
Target: Value
Value: v
Result: alloc.NewArrayValue(filtered, false)

Prefix: string
Type: String
Elements: o.Runes()
Target: rune
Value: CharValue(v)
Result: alloc.NewStringValue(string(filtered))

Prefix: bytes
Type: Bytes
Elements: o.Elements
Target: byte
Value: IntValue(int64(v))
Result: alloc.NewBytesValue(filtered)
`}}

{{range $targets}}
func {{.Prefix}}FnFilter(v Value, vm VM, name string, args []Value) (Value, error) {
	if len(args) != 1 {
		return Undefined, errs.NewWrongNumArgumentsError(name, "1", len(args))
	}

	fn := args[0]
	if !fn.IsCallable() || fn.IsVariadic() {
		return Undefined, errs.NewInvalidArgumentTypeError(name, "first", "non-variadic function", fn.TypeName())
	}

	var buf [2]Value

	alloc := vm.Allocator()
	o := (*{{.Type}})(v.Ptr)
    es := {{.Elements}}
	filtered := make([]{{.Target}}, 0, len(es))
	switch fn.Arity() {
	case 1:
		for _, v := range es {
			buf[0] = {{.Value}}
			res, err := fn.Call(vm, buf[:1])
			if err != nil {
				return Undefined, err
			}
			if res.IsTrue() {
				filtered = append(filtered, v)
			}
		}
		return {{.Result}}

	case 2:
		for i, v := range es {
			buf[0] = IntValue(int64(i))
			buf[1] = {{.Value}}
			res, err := fn.Call(vm, buf[:2])
			if err != nil {
				return Undefined, err
			}
			if res.IsTrue() {
				filtered = append(filtered, v)
			}
		}
		return {{.Result}}

	default:
		return Undefined, errs.NewInvalidArgumentTypeError(name, "first", "f/1 or f/2", fn.TypeName())
	}
}
{{end}}
