{{$targets := targets `
Prefix: array
Type: Array
Elements: o.Elements
Value: v

Prefix: string
Type: String
Elements: o.Runes()
Value: CharValue(v)

Prefix: bytes
Type: Bytes
Elements: o.Elements
Value: IntValue(int64(v))
`}}

{{range $targets}}
func {{.Prefix}}FnAny(v Value, vm VM, name string, args []Value) (Value, error) {
	if len(args) != 1 {
		return Undefined, errs.NewWrongNumArgumentsError(name, "1", len(args))
	}

	fn := args[0]
	if !fn.IsCallable() || fn.IsVariadic() {
		return Undefined, errs.NewInvalidArgumentTypeError(name, "first", "non-variadic function", fn.TypeName())
	}

	o := (*{{.Type}})(v.Ptr)
	es := {{.Elements}}
	var buf [2]Value
	switch fn.Arity() {
	case 1:
		for _, v := range es {
			buf[0] = {{.Value}}
			res, err := fn.Call(vm, buf[:1])
			if err != nil {
				return Undefined, err
			}
			if res.IsTrue() {
				return BoolValue(true), nil
			}
		}
		return BoolValue(false), nil

	case 2:
		for i, v := range es {
			buf[0] = IntValue(int64(i))
			buf[1] = {{.Value}}
			res, err := fn.Call(vm, buf[:2])
			if err != nil {
				return Undefined, err
			}
			if res.IsTrue() {
				return BoolValue(true), nil
			}
		}
		return BoolValue(false), nil

	default:
		return Undefined, errs.NewInvalidArgumentTypeError(name, "first", "f/1 or f/2", fn.TypeName())
	}
}
{{end}}
